@media (min-width:320px), (min-height:240px) { body {font-size:0.699rem;} }  /*responsive*/
@media (min-width:480px), (min-height:320px) { body {font-size:0.699rem;} }
@media (min-width:640px), (min-height:360px) { body {font-size:0.699rem;} }
@media (min-width:720px), (min-height:720px) { body {font-size:0.699rem;} }
@media (min-width:800px), (min-height:480px) { body {font-size:0.755rem;} }
@media (min-width:854px), (min-height:480px) { body {font-size:0.755rem;} }
@media (min-width:960px), (min-height:540px) { body {font-size:0.866rem;} }
@media (min-width:1024px), (min-height:600px) { body {font-size:0.999rem;} }
@media (min-width:1152px), (min-height:864px) { body {font-size:1.093rem;} }
@media (min-width:1280px), (min-height:720px) { body {font-size:1.204rem;} }
@media (min-width:1366px), (min-height:768px) { body {font-size:1.314rem;} }
@media (min-width:1440px), (min-height:900px) { body {font-size:1.375rem;} }
@media (min-width:1600px), (min-height:900px) { body {font-size:1.538rem;} }
@media (min-width:1680px), (min-height:1050px) { body {font-size:1.632rem;} }
@media (min-width:1920px), (min-height:1080px) {body{font-size:1.937rem;}}
@font-face{ /*enter own txt-font*/
	font-family: "LaurenScript";
	src: url('LaurenScript.ttf');
}
@font-face{ /*enter own txt-font*/
	font-family: "Gill Sans Hel";
	src: url('Gill Sans Hel.otf');
}
html{ /*unselectable*/
	background-color: black;
	-webkit-user-select: none;      
	-moz-user-select: none; 
	-ms-user-select: none;
	cursor: default;
	font-family: "LaurenScript";
	font-size:100%;
}
h4 {
	text-align: right;
	color: white;
}
p {
	text-align: justify; 
	text-justify: inter-word;
	padding-left: 30px;
	padding-right: 30px;
	color: white;
}
.links{ 
	cursor: pointer;
}
.imagenext{
	width: 9%;
	position:relative;
	left: 93%;
	bottom: 1%;
}
.modalDialog { /*creation of modal box*/
	position: fixed;
	font-family: "Gill Sans Hel";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	text-align:justify;
	text-justify: inter-word;
	overflow: auto; /* for use of scrollbar */
}
.modalDialog:target { /*creation of pseudo-class*/
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div { /*style the div inside modal box*/
	cursor:default;
	width: 50%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
	z-index:200;
}
.close { /*style close button*/
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { 
	background: red; 
	cursor:pointer;
}